<search></search>
<navbar></navbar>
<div id="outerdiv">

  <div class="row loader" ng-show="loading.school">
    <br ng-repeat="i in _.times(5)">
    <div class="progress">
        <div class="indeterminate"></div>
    </div>
    <center><span class="flow-text">Fetching School Details...</span></center>
    <br ng-repeat="i in _.times(22)">
  </div>

  <div class="row" ng-hide="loading.school">
    <div class="col s12 m12">
      <div class="card">
        <div class="card-image">
          <img src="assets/images/size2.jpg">
          <span class="card-title">{{school.name}}</span>
        </div>

      </div>
    </div>
    <!-- <div id="dynamic"> -->
    <div class="col s12 m7">
      <div class="card blue-grey darken-1">
        <div class="card-content white-text">
          <span class="card-title">
            <div class="chip">
              <img src="assets/images/yuna.jpg" alt="Contact Person">
              {{school.words.by}}
            </div>
          </span>
          <p>{{school.words.body}}</p>
        </div>

      </div>

      <div class="col s12 m6">

        <div class=" card-panel teal">
          <a href="awards.php">
            <span class="white-text">Awards Gallery
            </span>
          </a>
        </div>

      </div>
      <div class="col s12 m6">
        <div class=" card-panel blue">
          <a href="initiatives.php">
            <span class="white-text">Initiatives
            </span>
          </a>
        </div>

      </div>
    </div>

    <div class="col s12 m5">
      <div class="row loader" ng-show="loading.news">
        <div class="progress">
            <div class="indeterminate"></div>
        </div>
        <center><span class="flow-text">Fetching News...</span></center>
      </div>

      <ul ng-hide="loading.news" class="collapsible" data-collapsible="accordion">
        <li ng-repeat="i in news">
          <div class="collapsible-header">
            <i class="material-icons">{{i.icon}}</i>{{i.title}}</div>
          <div class="collapsible-body">
            <a ng-repeat="doc in i.documents" href="{{doc.link}}" class="floatRight downloadFileBtn tooltipped" data-position="top" data-tooltip="{{doc.name}}" data-delay="50" download>
              <i class="material-icons">file_download</i>
            </a>
            <p>{{i.body}}</p>
          </div>
        </li>
      </ul>
    </div>

    <div class="col s12">
      <ul>
        <li class="col s2 competition-tile" ng-repeat="competition in competitions">
          <img class="competition-tile-img {{competition.selectedCss}}" ng-src="{{competition.img}}" ng-click="selectCompetition(competition,$index)"/>
        </li>
      </ul>
      <div ng-hide="hideCompetiionPanel" class="col s12 padding0 competition-main-container">
        <div class="col s5 competition-img-box" style="background-image:url({{competition.image.link}})"></div>
        <div class="col s7 competition-details-container">
          <div class="col s12">
            <div class="col s10 competition-title">{{competition.title}}</div>
            <div class="col s2">
              <span ng-click="closeCompetition()" class="close_competition_icon"></span>
            </div>
          </div>
          <div class="col s12 competition-description">{{competition.body}}</div>
        </div>
      </div>
    </div>

  </div>

  <footer class="page-footer">
    <div class="container">
      <div class="row">
        <div class="col l6 s12">
          <h5 class="white-text">{{school.name}}</h5>
          <p class="grey-text text-lighten-4">
            {{school.address}}.</p><br>
          <p class="grey-text text-lighten-4">Phone: {{school.phone[0]}} / {{school.phone[1]}}</p><br>
          <p class="grey-text text-lighten-4">Email: {{school.email}}</p>
        </div>
        <div class="col l4 offset-l2 s12">
          <h5 class="white-text">Links</h5>
          <ul>
            <li>
              <a class="grey-text text-lighten-3" href="#!">Link 1</a>
            </li>
            <li>
              <a class="grey-text text-lighten-3" href="#!">Link 2</a>
            </li>
            <li>
              <a class="grey-text text-lighten-3" href="#!">Link 3</a>
            </li>
            <li>
              <a class="grey-text text-lighten-3" href="#!">Link 4</a>
            </li>
          </ul>
        </div>
      </div>
    </div>
    <div class="footer-copyright">
      <div class="container">
        © 2014 Copyright Text
        <a class="grey-text text-lighten-4 right" href="#!">More Links</a>
      </div>
    </div>
  </footer>

</div>
<script>
  $('.collapsible').collapsible();
</script>
