.initiative-card
{
	max-height: 100% !important;
}
.initiative-main-card-container
{
	height:250px;
	overflow: hidden;
}
.initiative-card-container
{
	margin-top:20px;
}
.initiative-main-image{
	width: 100%;
	height: 100%;
	background-position:center;
	transition: all 350ms ease;
  -moz-transition: all 350ms ease;
  -ms-transition: all 350ms ease;
  -webkit-transition: all 350ms ease;
  -o-transition: all 350ms ease;
}
.initiative-main-image:hover {
  transform: scale(1.05);
  -moz-transform: scale(1.05);
  -webkit-transform: scale(1.05);
  -o-transform: scale(1.05);
  -ms-transform: scale(1.05); /* IE 9 */
} 
.initiative-title-overlay
{
	color:white;
	font-size: 18px;
	padding:10px;
	position:relative;
	width:100%;
	height:100%;
	background-color: rgba(0,0,0,0.6);
}