<!-- <navbar style="border: none;"></navbar> -->
<div class="teacherLogin">
  <div class="row">
    <!-- <div id="lefthalf" class="col m4 l7"></div> -->
    <div id="righthalf" class="col s12 m12 l12 card" style="margin-top: 0;">
      <div class="card-content">
        <!-- <a id="student" ui-sref='teacherLogin'>STUDENT</a>
        <a id="teacher" ui-sref='teacherLogin'>TEACHER</a> -->

        <div class="row chipContainer">
          <div id="student" class="chip">
            <center><a id="teacher" >Teacher</a></center>
          </div>

          <div id="student" class="chip inactive">
            <center><a id="teacher" ui-sref='studentLogin'>Student</a></center>
          </div>
        </div>

        <div class="row formContainer">
            <div class="col l4" style="margin-left: 0px;">
              <div id="loginheading">Teacher Login</div>
              <br>
              <form ng-submit="functions.auth()">
                <div class="row">
                  <div class="input-field col m12 s12 l12">
                    <input id="first_name" type="text" class="validate" ng-model="data.username">
                    <label id="firstnamelabel" for="first_name">Username</label>
                  </div>
                  <div class="input-field col m12 s12 l12">
                    <input id="last_name" type="password" class="validate" ng-model="data.password">
                    <label id="passwordlabel" for="last_name">Password</label>
                  </div>
                </div>
                <div class="row">
                  <button type="submit" class="white waves-effect waves-brown btn-large col m12 s12 l12">Login</button>
                </div>

                <div class="row">
                  <center><span><a style="color: #f5f5f5;" ui-sref="teacherForgotPassword()">Forgot Password?</a></span><center>
                </div>
              </form>
              <br><br><br>
              <p>
                The information transmitted is intended only for the person or entity to which it is addressed and may contain confidential and/or privileged material. Any review, re-retransmission, dissemination or other use of, or taking of any action in reliance
        upon, this information by persons or entities other than the intended recipient is prohibited. If you received this in error, please contact the sender and delete the material from your computer.
              </p>
            </div>
        </div>

      </div>
    </div>
  </div>

</div>
