
<div ng-hide="searchDisable" id="main_search_overlay" class="fade-in-out">
  <div class="row">
    <div class="col s12" id="search-parent-container">
      <div class="col s12 right">
        <span ng-click="closeSearch()" class="close_search_icon"></span>
      </div>
      <div class="col s12">
        <div class="input-field col s12">
          <input id="last_name" ng-focus="searchFocus" ng-keyup="search()" ng-model="context.searchTerm" class="searchInput" placeholder="Type to search..." type="text" class="validate" autofocus>
        </div>
      </div>
      <div class="col s12 result_container center-align">
        <div class="col s3 result_parent_box z-depth-1" ng-repeat="result in results">
          <div class="col s3 result_box_dp" ng-style="{'background-image':'url({{result.image}})'}"></div>
          <div class="col s8 result_box_txt valign-wrapper">
            <div class="col s12 valign"><a ng-click="closeSearch()" ui-sref="studentProfile({id: result.username})">{{result.name}}</a></div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
