<div class="competitionsRep">
  <navbar></navbar>

  <div class="container">
    <br><br><br><br>

    <div class="row loader" ng-show="loading.getCompetitions">
      <div class="progress">
          <div class="indeterminate"></div>
      </div>
      <center><span class="flow-text">Fetching Competitions...</span></center>
    </div>

    <div class="row addContainer" ng-show="!loading.getCompetitions">
      <div class="col s12">
        <center><a href="#addCompetitionsModal" class="modal-trigger"><h5><i class="material-icons">add</i> Add Competitions</h5></a></center>
      </div>
    </div>

    <div  class="row" ng-show="!loading.getCompetitions">
      <div ng-repeat="i in competitions" class="competitionsContainer col m6">
        <div class="card sticky-action">
          <div class="card-content">
            <span class="card-title activator grey-text text-darken-4">{{i.title}}
              <i class="material-icons right" ng-click="functions.delete(i.id)">close</i>
              <i class="material-icons right" data-target="editCompetitionsModal" ng-click="functions.edit($index)">mode_edit</i>
            </span>
            <p><a>{{i.lastUpdated | date:"MM/dd/yyyy 'at' h:mma"}}</a></p><br>
            <p>{{i.body}}</p>
          </div>
          <div class="card-action" ng-if="i.image">
            <a ng-src="{{functions.trust(i.image.link)}}">{{i.image.name}}</a>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- Modal Structure -->
  <div id="editCompetitionsModal" class="modal">
    <div class="modal-content">
      <h4>Modal Header</h4>
      <br>
      <div class="row">
        <div class="input-field col s7">
          <input ng-model="context.edit.title" placeholder="Placeholder" id="title" type="text" class="validate" value="{{context.edit.title}}">
          <label for="title">Title</label>
        </div>
      </div>

      <div class="row">
        <div class="input-field col s12">
          <textarea ng-model="context.edit.body" id="body" class="materialize-textarea">{{context.edit.body}}</textarea>
          <label for="body">Textarea</label>
        </div>
      </div>
      <div class="row">
        <div class="chip" ng-show="context.edit.image">
          {{context.edit.image.name}}
          <i class="close material-icons" ng-click="functions.delImage('edit')">close</i>
        </div>
        <div class="chip" type="file" ngf-pattern="'image/*'"
    ngf-accept="'image/*'" ngf-select="functions.uploadFiles('edit', $file, $invalidFiles)" ngf-max-size="25MB">
          Add <i class="material-icons">add</i>
        </div>
      </div>
      <div class="row loader" ng-show="loading.file">
        <center><div class="preloader-wrapper big active">
          <div class="spinner-layer spinner-blue-only">
            <div class="circle-clipper left">
              <div class="circle"></div>
            </div><div class="gap-patch">
              <div class="circle"></div>
            </div><div class="circle-clipper right">
              <div class="circle"></div>
            </div>
          </div>
        </div></center>
        <center><span class="flow-text">Uploading Document...</span></center>
      </div>
    </div>
    <div class="modal-footer">
      <a ng-click="functions.update()" class=" modal-action modal-close waves-effect waves-green btn-flat">Save</a>
    </div>
  </div>

  <!-- Modal Structure -->
  <div id="addCompetitionsModal" class="modal">
    <div class="modal-content">
      <h4>Modal Header</h4>
      <br>
      <div class="row">
        <div class="input-field col s7">
          <input placeholder="Placeholder" ng-model="context.add.title" id="title" type="text" class="validate">
          <label for="title">Tile</label>
        </div>
      </div>

      <div class="row">
        <div class="input-field col s12">
          <textarea ng-model="context.add.body" id="body" class="materialize-textarea"></textarea>
          <label for="body">Content</label>
        </div>
      </div>
      <div class="row">
        <div class="chip" ng-show="context.add.image">
          {{context.add.image.name}}
          <i class="close material-icons">close</i>
        </div>
        <div class="chip" type="file" ngf-pattern="'image/*'"
    ngf-accept="'image/*'" ngf-select="functions.uploadFiles('add', $file, $invalidFiles)" ngf-max-size="25MB">
          Add <i class="material-icons">add</i>
        </div>
      </div>
      <div class="row loader" ng-show="loading.file">
        <center><div class="preloader-wrapper big active">
          <div class="spinner-layer spinner-blue-only">
            <div class="circle-clipper left">
              <div class="circle"></div>
            </div><div class="gap-patch">
              <div class="circle"></div>
            </div><div class="circle-clipper right">
              <div class="circle"></div>
            </div>
          </div>
        </div></center>
        <center><span class="flow-text">Uploading Document...</span></center>
      </div>
    </div>
    <div class="modal-footer">
      <a ng-click="functions.create()" class="modal-action modal-close waves-effect waves-green btn-flat">Save</a>
    </div>
  </div>
</div>
