.competitionsRep {
  width: 100%;
  background-color: #f5f5f5;
}

.competitionsRep .addContainer {
  min-height: 5em;
  border-radius: 10px;
  border: 4px dashed #DDD;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

}
.competitionsRep .addContainer h4{
  color: #444;
}
.competitionsRep .competitionsContainer .card {
  width: 100%;
  height: 15rem;
}

.competitionsRep .competitionsContainer .card-action {
  position: absolute;
  bottom: 0;
  width: 100%;
}

.competitionsRep {
  /*min-height: 34em;*/
  overflow: auto;
}

.competitionsRep .modal-content {
  border-radius: 0;
  border: none;
  -webkit-box-shadow: none;
  box-shadow: none;
  min-height: 25em;
  /*max-height: 45em;*/
}

.competitionsRep .chip {
  margin: 0 0.5em 0 0.5em;
}
