/*Local GLobal Property*/

 .studentemailconf {
  font-family: 'HelveticaNeue-Light', 'Helvetica Neue Light', 'Helvetica Neue', Helvetica, Arial, 'Lucida Grande', sans-serif;
}

/*Skeleton*/
 .studentemailconf #lefthalf {
   background: url(../../../../assets/images/studentnexted.jpg);
   position: absolute;
   left: 0px;
   height: 100%;
   opacity:1.2;
}

 .studentemailconf #righthalf {
   background-color: #FF5252;
   position: absolute;
   right: 0px;
   height: 100%;
}



/*Chip*/
 .studentemailconf .chipContainer {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}

 .studentemailconf .chip {
  width: 5rem;
  margin: 0 5px 0 5px;
}

 .studentemailconf .chip a {
  text-decoration: none;
  color: #444;
}

 .studentemailconf .chipContainer .inactive{
  background-color: white;
}


/*Form*/
 .studentemailconf .formContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

 .studentemailconf #first_name ,
   .studentemailconf #last_name {
  color: rgb(255,255,255);
  border-bottom:1px solid rgb(255,255,255);
	font-weight: 100;
}

 .studentemailconf #firstnamelabel,
 .studentemailconf #passwordlabel {
	color: rgb(255,255,255);
  font-weight: 100;
}

 .studentemailconf #loginheading{
	font-size: 20px;
	color: rgb(255,255,255);
	font-weight: 300;
}


 .studentemailconf #loggedin{
	color: rgb(255,255,255);
	font-size: 16px;
	font-weight: 100;
}

 .studentemailconf .formContainer p {
  text-align: center;
  color: #f5f5f5;
  font-size: 0.8rem;
  line-height: 13px;
}

/* .studentemailconf .formContainer img {
  max-width: 300px;
}*/


 .studentemailconf .btn, .btn-large {
    text-decoration: none;
    color: #FF5252 !important;
    background-color: rgb(255,255,255);
    text-align: center;
    letter-spacing: .5px;
    transition: .2s ease-out;
    cursor: pointer;
}


 .studentemailconf .btn, .btn-large:hover{
	background:rgb(255,255,255);
}

 .studentemailconf .waves-effect.waves-brown .waves-ripple {
      background-color: #FF5252;
    }
