<div class="initForm">
  <navbar></navbar>

  <div class="container">
    <br><br>
    <div class="row up">
      <div class="col l12 s12 m12">
        <ul class="progress-indicator">
          <li ng-class="{'completed': context.progress >= 1}">
            <span class="bubble"></span>Basic Account Information
          </li>
          <li ng-class="{'completed': context.progress >= 2}">
            <span class="bubble"></span>About Me
          </li>
          <li ng-class="{'completed': context.progress >= 3}">
            <span class="bubble"></span>Interest
          </li>
          <li ng-class="{'completed': context.progress >= 4}">
            <span class="bubble"></span>Profile Picture
          </li>
        </ul>
      </div>
    </div>

    <div class="row">
      <div class="col l12 m12 s12 infoContainer">
        <span class="flow-text">{{form.name}}</span>
        <p>{{context.school.name}}</p>
      </div>
    </div>

    <div class="row down">
      <div class="col l7 m12 s12 formContainer card">
        <div ng-show="loader.profile">
          <div class="progress">
            <div class="indeterminate"></div>
          </div>
          <center class="flow-text">Fetching Profile...</center>
        </div>

        <div ng-hide="loader.profile" ng-repeat="i in _.times(4)" ng-if="context.progress == i+1" ui-view="stage{{i+1}}"></div>
      </div>

      <div class="col l4 m12 s12 offset-l1 faqContainer card">
        <div class="card-content row">
          <span class="card-title">FAQs</span>
        </div>
      </div>
    </div>
  </div>

</div>
