.initForm {
  /*height: 100;*/
  width: 100%;
  background-color: #f5f5f5;
}

.initForm .progress-indicator {
  margin: 70px 0 30px 0;
}

.initForm .flexer, .progress-indicator {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex
}
.initForm .no-flexer, .progress-indicator.stacked {
  display: block
}
.initForm .no-flexer-element {
  -ms-flex: 0;
  -webkit-flex: 0;
  -moz-flex: 0;
  flex: 0
}
.initForm .flexer-element, .progress-indicator>li {
  -ms-flex: 1;
  -webkit-flex: 1;
  -moz-flex: 1;
  flex: 1
}
.initForm .progress-indicator {
  padding: 0;
  font-size: 80%;
  text-transform: uppercase
}
.initForm .progress-indicator>li {
  list-style: none;
  text-align: center;
  width: auto;
  padding: 0;
  margin: 0;
  position: relative;
  text-overflow: ellipsis;
  color: #bbb;
  display: block
}
.initForm .progress-indicator>li:hover {
  color: #6f6f6f
}
.initForm .progress-indicator>li.completed,
.initForm .progress-indicator>li.completed .bubble {
  color: #65d074
}
.initForm .progress-indicator>li .bubble {
  border-radius: 1000px;
  width: 20px;
  height: 20px;
  background-color: #bbb;
  display: block;
  margin: 0 auto .5em;
  border-bottom: 1px solid #888
}
.initForm .progress-indicator>li .bubble:after,
.initForm .progress-indicator>li .bubble:before {
  display: block;
  position: absolute;
  top: 9px;
  width: 100%;
  height: 3px;
  content: '';
  background-color: #bbb
}
.initForm .progress-indicator>li.completed .bubble,
.initForm .progress-indicator>li.completed .bubble:after,
.initForm .progress-indicator>li.completed .bubble:before {
  background-color: #00B4BE;
  border-color: #247830
}
.initForm .progress-indicator>li .bubble:before {
  left: 0
}
.initForm .progress-indicator>li .bubble:after {
  right: 0
}
.initForm .progress-indicator>li:first-child .bubble:after,
.initForm .progress-indicator>li:first-child .bubble:before {
  width: 50%;
  margin-left: 50%
}
.initForm .progress-indicator>li:last-child .bubble:after,
.initForm .progress-indicator>li:last-child .bubble:before {
  width: 50%;
  margin-right: 50%
}
.initForm .progress-indicator>li.active,
.initForm .progress-indicator>li.active .bubble {
  color: #337AB7
}
.initForm .progress-indicator>li.active .bubble,
.initForm .progress-indicator>li.active .bubble:after,
.initForm .progress-indicator>li.active .bubble:before {
  background-color: #337AB7;
  border-color: #122a3f
}
.initForm .progress-indicator>li a:hover .bubble,
.initForm .progress-indicator>li a:hover .bubble:after,
.initForm .progress-indicator>li a:hover .bubble:before {
  background-color: #5671d0;
  border-color: #1f306e
}
.initForm .progress-indicator>li a:hover .bubble {
  color: #5671d0
}
.initForm .progress-indicator>li.danger .bubble,
.initForm .progress-indicator>li.danger .bubble:after,
.initForm .progress-indicator>li.danger .bubble:before {
  background-color: #d3140f;
  border-color: #440605
}
.initForm .progress-indicator>li.danger .bubble {
  color: #d3140f
}
.initForm .progress-indicator>li.warning .bubble,
.initForm .progress-indicator>li.warning .bubble:after,
.initForm .progress-indicator>li.warning .bubble:before {
  background-color: #edb10a;
  border-color: #5a4304
}
.initForm .progress-indicator>li.warning .bubble {
  color: #edb10a
}
.initForm .progress-indicator>li.info .bubble,
.initForm .progress-indicator>li.info .bubble:after,
.initForm .progress-indicator>li.info .bubble:before {
  background-color: #5b32d6;
  border-color: #25135d
}
.initForm .progress-indicator>li.info .bubble {
  color: #5b32d6
}
.initForm .progress-indicator.stacked>li {
  text-indent: -10px;
  text-align: center;
  display: block
}
.initForm .progress-indicator.stacked>li .bubble:after,
.initForm .progress-indicator.stacked>li .bubble:before {
  left: 50%;
  margin-left: -1.5px;
  width: 3px;
  height: 100%
}
.initForm .progress-indicator.stacked .stacked-text {
  position: relative;
  z-index: 10;
  top: 0;
  margin-left: 60%!important;
  width: 45%!important;
  display: inline-block;
  text-align: left;
  line-height: 1.2em
}
.initForm .progress-indicator.stacked>li a {
  border: none
}
.initForm .progress-indicator.stacked.nocenter>li .bubble {
  margin-left: 0;
  margin-right: 0
}
.initForm .progress-indicator.stacked.nocenter>li .bubble:after,
.initForm .progress-indicator.stacked.nocenter>li .bubble:before {
  left: 10px
}
.initForm .progress-indicator.stacked.nocenter .stacked-text {
  width: auto!important;
  display: block;
  margin-left: 40px!important
}
@media handheld, screen and (max-width:400px) {
  .initForm .progress-indicator {
    font-size: 60%
  }
}

.initForm .down {
  /*height: 100vh;*/
}

.initForm .infoContainer {
  min-height: 6rem;
  float: left;
}

.initForm .infoContainer span {
  color: #29A2DD;
  font-weight: 300;
}

.initForm .infoContainer p {
  font-size: 0.9rem;
  color: #444;
}

.initForm .formContainer {
  min-height: 27rem;
}

.initForm .faqContainer {
  min-height: 18rem;
}

.initForm .formContainer {
  padding: 10px 30px 10px 30px;
}

.initForm .stage3 .chip {
  margin: 2px;
}

.initForm .stage4 .status {
  height: 5rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.initForm .stage4 .status i {
  font-size: 2rem;
}


.initForm .stage4 .imageContainer {
  height: 12rem;
  width: 20rem;

  margin: 40px 0 0 0;
  border-radius: 10px;
  border: 4px dashed #DDD;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.initForm .stage4 .imageContainer span {
  font-size: 1.5rem;
}

.initForm .stage4 .profilePicture {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.initForm .stage4 .profilePicture img{
  max-width: 14rem;
}
