<search></search>
<navbar></navbar>
<div class="row">
      <div id="awards-parent-container" class="col s12 padding0">
        <div id="awards-left-content" class="floatLeft padding0 margin0" style="width:{{awardsContentLeftDefault}};">
          <div class="col s12" id="awards-navigation-bar">
            <a id="awards-go-home-btn" class="left btn-flat" href="index.php"><i class="material-icons left margin0">keyboard_arrow_left</i> Go Home</a>
            <span class="center-align pageTitle">Initiatives</span>
            <a class="right btn btn-small btn-warning right-align" href="awards.php">Awards<i class="material-icons right">keyboard_arrow_right</i></a>
          </div>
          <div class="col s12 awards-content-container">
            <div class="col s3 award-card-container initiative-card-container" ng-click="openAwardOverlay(award)" ng-repeat="award in awards_">
              <div class="col s12 initiative-main-card-container">
                <div class="initiative-main-image" style="background-image:url(assets/images/awards_cards/{{award.img}})">
                <div class="initiative-title-overlay">
                  {{award.title}}
                </div>
                </div>
              </div>
            </div>
          </div>

        </div>
        <div id="awards-right-content" class="floatLeft" style="width:{{awardsContentRightDefault}};height:{{awardOlverlayHeight}}">
          <div class="awardFixedOverlay" style="height:{{awardOlverlayHeight}}">
              
              <div class="col s12 padding0">
                <div class="card large margin0 overlayCardManager" style="height:{{awardOlverlayHeight}}">
                  <div class="card-image overlayCardImgManager">
                    <span ng-click="closeAwardOverlay()" class="close_award_icon"></span>
                    <img ng-src="assets/images/awards_cards/{{awardOverlayImg}}">
                    <span class="card-title">{{awardOverlayTitle}}</span>
                  </div>
                  <div class="card-content overlayCardContentManager">
                    <p>{{awardOverlayText}}</p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>