<link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
<div class="landingPage">
  <section class="hero">
    <div class="container">
      <div class="row">
        <div class="col-md-10 col-md-offset-1">
          <div class="hero-content text-center">
            <img style = "top:-80px; " src="assets/images/dextrlogo1.png">
            <h1>Schooling Made Smarter</h1>
            <p class="intro">A peer to peer learning and encouraging platform for students and teachers</p>
            <a ui-sref="studentLogin" class="button button-fill button-large button-margin-right">Login/Dashboard</a
          </div>
        </div>
      </div>
    </div>
    <div class="down-arrow floating-arrow">
      <a href="#lives">
        <i class="fa fa-angle-down"></i>
      </a>
    </div>
  </section>
  <section class="intro section-padding">
    <div class="container">
      <h2 id="lives">How it contributes to individual lives of :
      </h2>
      <div class="row">
        <div class="col-md-4 intro-feature">

          <div style = "float:left;" class="intro-icon">
                  <i  class="small material-icons">stars</i>
          </div>
          <div class="intro-content">
            <h5>Students</h5>
            <p>A Student will get a platform to upload his skills , experiences , awards and qualifications, through which he is able to showcase his skillset and be an inspiring factor among his peers.He'll be able to see other students' profiles and get
              inspired too.</p>
          </div>
        </div>
        <div class="col-md-4 intro-feature">
          <div style = "float:left;" class="intro-icon">
                  <i  class="small material-icons">stars</i>
          </div>
          <div class="intro-content">
            <h5>Teachers</h5>
            <p>A Teacher will be able to upload his area of expertise, degrees, awards through this platform. Teachers with skills apart from their designated area can be approached by students with similar interests.Hence, making learning smarter.</p>
          </div>
        </div>
        <div class="col-md-4 intro-feature">
          <div style = "float:left;" class="intro-icon">
                  <i  class="small material-icons">stars</i>
          </div>
          <div class="intro-content last">
            <h5>Schools</h5>
            <p>Schools are meant for overall development of a student. Through our formative environment, we want to create a link between students and teachers which are usually concealed in the real world.
            </p>
          </div>
        </div>
      </div>
    </div>
  </section>

  <footer>
    <div class="container">
      <div class="row">
        <div class="col-md-7">
          <div class="footer-links">

            <p>Copyright © 2016
              <a href="#">Dextr</a><br>
              <a href="#">Licence</a>
              | Crafted with
              <span class="fa fa-heart pulse2"></span>
              by
              <a href="#">Dextr Team</a>.</p>
          </div>
        </div>
        <div class="social-share">
          <p>Share Nexted with your friends</p>
          <a href="#" class="twitter-share">
            <i class="fa fa-twitter"></i>
          </a>
          <a href="#" class="facebook-share">
            <i class="fa fa-facebook"></i>
          </a>
        </div>
      </div>
    </div>
  </footer>

</div>
