.schoolHome #outerdiv {
  margin-left: 10% !important;
  margin-right: 10% !important;
}
.schoolHome .card-title {}
.schoolHome footer.page-footer {
  padding: 10px;
  padding-top: 20px;
  background-color: #47a3da;
}
.schoolHome .newhead {
  font-size: -0.08rem !important;
}
.schoolHome h3 {
  font-size: 20px !important;
}

.downloadFileBtn
{
  margin:5px;
}
.competition-tile{  
  margin-left:7% !important;
}
.competition-tile-img {
  width: 100%;
  height: 100%;
}
.competition-main-container {
  background-color:#ddd;
  margin-top:20px;
}
.competition-img-box {
  height:400px;
  background-repeat: no-repeat;
  background-size: cover;
}
.competition-title {
  font-size:26px;
  margin-top: 10px;
  font-weight: bolder;
  font-family: arial,sans-serif;
}
.competition-description {
  max-height:600px;
  overflow-y:scroll; 
    justify-content: space-between;
}
.close_competition_icon
{
  float: right;
  margin:10px;
  background:url(../../../../assets/images/close.png);
  background-size:contain;
  width:40px;
  height:40px;
  cursor:pointer;
}
body {
    background: #eceff1;    
}
.displaynone {
  display: none !important;
}
.displayblock {
  display: block !important;
}
nav .nav-wrapper{

margin-left: 10% !important;
margin-right: 10% !important;
}
nav {
  background-color: #47a3da;
}
#outerdiv {
  margin-left: 10% !important;
  margin-right: 10% !important; 
}
.card-title{

}
footer.page-footer {
  padding: 10px;
   padding-top: 20px;
    background-color: #47a3da;
}
.newhead{
  font-size: -0.08rem !important;
}
h3{
  font-size: 20px !important;
}
