<div class="studentemailconf">
  <div class="row">
    <div id="righthalf" class="col s12 m12 l12 card" style="margin-top: 0;">
      <div class="card-content">



        <div class="row formContainer">
            <div class="col l4" style="margin-left: 0px;">
              <br>

              <form name="emailconfform" ng-submit="submit()">
                <div class="row">
                  <div class="input-field col m12 s12 l12">
                    <input id="first_name" type="email" required="required" class="validate" ng-model="email" ng-minlength="5">
                    <label id="firstnamelabel" for="first_name">Email Address</label>
                  </div>
                </div>

                <div class="row">
                  <button type="submit" class="white raised waves-effect waves-brown btn-large col m12 s12 l12"  >Submit</button>
                </div>

                <div ng-show="isvisible"><p style="font-size: 18px;"> Check your inbox to confirm your email.</p>
                <p style="margin: 20px;">Incase you did'nt get it.Try again. </p></div>

              </form>

              <br><br><br>
              <p>
        upon, this information by persons or entities other than the intended recipient is prohibited. If you received this in error, please contact the sender and delete the material from your computer.
              </p>
            </div>
        </div>

      </div>
    </div>
  </div>

</div>
