nav .nav-wrapper {
  margin-left: 10% !important;
  margin-right: 10% !important;
}
nav {
  background-color: rgb(11, 175, 187);
  position: fixed;
  z-index:10;
  overflow-y:scroll;
	overflow-x:hidden;
}

.grey {
  color: #444;
}
