/*Local GLobal Property*/

.teacherLogin {
  font-family: 'HelveticaNeue-Light', 'Helvetica Neue Light', 'Helvetica Neue', Helvetica, Arial, 'Lucida Grande', sans-serif;
}

/*Skeleton*/
.teacherLogin #lefthalf {
   background: url(../../../../assets/images/studentnexted.jpg);
   position: absolute;
   left: 0px;
   height: 100%;
   opacity:1.2;
}

.teacherLogin #righthalf {
   background-color: rgb(11, 175, 187);
   position: absolute;
   right: 0px;
   height: 100%;
}



/*Chip*/
.teacherLogin .chipContainer {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}

.teacherLogin .chip {
  width: 5rem;
  margin: 0 5px 0 5px;
}

.teacherLogin .chip a {
  text-decoration: none;
  color: #444;
}

.teacherLogin .chipContainer .inactive{
  background-color: white;
}


/*Form*/
.teacherLogin .formContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.teacherLogin #first_name ,
  .teacherLogin #last_name {
  color: rgb(255,255,255);
  border-bottom:1px solid rgb(118,198,205);
	font-weight: 100;
}

.teacherLogin #firstnamelabel,
.teacherLogin #passwordlabel {
	color: rgb(158,230,240);
  font-weight: 100;
}

.teacherLogin #loginheading{
	font-size: 20px;
	color: rgb(255,255,255);
	font-weight: 300;
}


.teacherLogin #loggedin{
	color: rgb(255,255,255);
	font-size: 16px;
	font-weight: 100;
}

.teacherLogin .formContainer p {
  text-align: center;
  color: #f5f5f5;
  font-size: 0.8rem;
  line-height: 13px;
}

/*.teacherLogin .formContainer img {
  max-width: 300px;
}*/


.teacherLogin .btn, .btn-large {
    text-decoration: none;
    color: rgb(11,175,187);
    background-color: rgb(255,255,255);
    text-align: center;
    letter-spacing: .5px;
    transition: .2s ease-out;
    cursor: pointer;
}


.teacherLogin .btn, .btn-large:hover{
	background:rgb(255,255,255);
}

.teacherLogin .waves-effect.waves-brown .waves-ripple {
      background-color: rgba(121, 85, 72, 0.65);
    }
