<search></search>
<navbar></navbar>
<div class="row">
  <div id="awards-parent-container" style="padding: 0rem 0rem !important; " class="col s12 padding0">
    <div id="awards-left-content" class="floatLeft padding0 margin0" style="width:{{awardsContentLeftDefault}};">
      <div class="col s12" id="awards-navigation-bar">
        <a id="awards-go-home-btn" class="left btn-flat">
          <i class="material-icons left margin0">keyboard_arrow_left</i>
          Go Home</a>
        <span class="center-align pageTitle">Awards</span>
        <a class="right btn btn-small btn-warning ">Initiatives<i class="material-icons right">keyboard_arrow_right</i>
        </a>
      </div>
      <div class="col s12 awards-content-container">
        <div class="row loader" ng-show="loading.awards">
          <div class="progress">
              <div class="indeterminate"></div>
          </div>
          <center><span class="flow-text">Fetching News...</span></center>
        </div>
        <div ng-hide="loading.awards" class="col s3 award-card-container" ng-click="openAwardOverlay(award)" ng-repeat="award in awards_">
          <div class="row">
            <div class="col s12">
              <div class="card small">
                <div class="card-image">
                  <img ng-src="{{award.image.link || 'assets/images/awards_cards/1.jpg'}}">
                  <span class="card-title">{{award.title}}</span>
                </div>
                <div class="card-content">
                  <p>{{award.body}}</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

    </div>
    <div id="awards-right-content" class="floatLeft" style="width:{{awardsContentRightDefault}};height:{{awardOlverlayHeight}}">
      <div class="awardFixedOverlay" style="height:{{awardOlverlayHeight}}">

        <div class="col s12 padding0">
          <div class="card large margin0 overlayCardManager" style="height:{{awardOlverlayHeight}}">
            <div class="card-image overlayCardImgManager">
              <span ng-click="closeAwardOverlay()" class="close_award_icon"></span>
              <img ng-src="assets/images/awards_cards/{{awardOverlayImg}}">
              <span class="card-title">{{awardOverlayTitle}}</span>
            </div>
            <div class="card-content overlayCardContentManager">
              <p>{{awardOverlayText}}</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
