/*Local GLobal Property*/

 .teacheremailconf {
  font-family: 'HelveticaNeue-Light', 'Helvetica Neue Light', 'Helvetica Neue', Helvetica, Arial, 'Lucida Grande', sans-serif;
}

/*Skeleton*/
 .teacheremailconf #lefthalf {
   background: url(../../../../assets/images/studentnexted.jpg);
   position: absolute;
   left: 0px;
   height: 100%;
   opacity:1.2;
}

 .teacheremailconf #righthalf {
   background-color: #FF5252;
   position: absolute;
   right: 0px;
   height: 100%;
}



/*Chip*/
 .teacheremailconf .chipContainer {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}

 .teacheremailconf .chip {
  width: 5rem;
  margin: 0 5px 0 5px;
}

 .teacheremailconf .chip a {
  text-decoration: none;
  color: #444;
}

 .teacheremailconf .chipContainer .inactive{
  background-color: white;
}


/*Form*/
 .teacheremailconf .formContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

 .teacheremailconf #first_name ,
   .teacheremailconf #last_name {
  color: rgb(255,255,255);
  border-bottom:1px solid rgb(255,255,255);
	font-weight: 100;
}

 .teacheremailconf #firstnamelabel,
 .teacheremailconf #passwordlabel {
	color: rgb(255,255,255);
  font-weight: 100;
}

 .teacheremailconf #loginheading{
	font-size: 20px;
	color: rgb(255,255,255);
	font-weight: 300;
}


 .teacheremailconf #loggedin{
	color: rgb(255,255,255);
	font-size: 16px;
	font-weight: 100;
}

 .teacheremailconf .formContainer p {
  text-align: center;
  color: #f5f5f5;
  font-size: 0.8rem;
  line-height: 13px;
}

/* .teacheremailconf .formContainer img {
  max-width: 300px;
}*/


 .teacheremailconf .btn, .btn-large {
    text-decoration: none;
    color: #FF5252 !important;
    background-color: rgb(255,255,255);
    text-align: center;
    letter-spacing: .5px;
    transition: .2s ease-out;
    cursor: pointer;
}


 .teacheremailconf .btn, .btn-large:hover{
	background:rgb(255,255,255);
}

 .teacheremailconf .waves-effect.waves-brown .waves-ripple {
      background-color: #FF5252;
    }
