<nav>
  <div class="nav-wrapper">
    <a ng-click="myProfile()"><img src="assets/images/dextrmono3.png"></a>
    <span class="inputty input--kyo">
      <input readonly="readonly" ng-click="openSearch()" class="input__field input__field--kyo" type="text" id="input-19" placeholder="Search for teachers and students">
    </span>
    <ul class="right hide-on-med-and-down">
      <li ng-click="toggleProfile()">
        <div class="chip">
          <img ng-hide="{{disable}}" ng-src="{{img}}">
          {{name}}
        </div>
      </li>
    </ul>
  </div>
</nav>
