.profileStyle
{
  background-color:#E0ECF8 !important;
}
.profile-content-parent .displaynone {
  display: none !important;
}

.profile-content-parent .displayblock {
  display: block !important;
}


.profile-content-parent .card-title {}

.profile-content-parent .newhead {
  font-size: -0.profile-content-parent .08rem !important;
}

.profile-content-parent .fade-in-out {
  transition: 150ms linear all;
  opacity: 1;
}

.profile-content-parent .fade-in-out.profile-content-parent .ng-hide {
  opacity: 0;
}


.profile-content-parent .close_search_icon {
  float: right;
  margin: 20px;
  background: url(.profile-content-parent ..profile-content-parent ./images/close.profile-content-parent .png);
  background-size: contain;
  width: 40px;
  height: 40px;
  cursor: pointer;
}

.profile-content-parent .searchInput {
  font-size: 5rem !important;
  height: 8rem !important;
}

.profile-content-parent .result_container {
  margin-top: 20px;
  background-color: none;
  max-height: 40%;
  overflow: hidden;
}

.profile-content-parent .result_parent_box {
  margin-bottom: 20px;
  margin-left: 80px !important;
  height: 75px;
  border: 1px solid #E6E6E6;
  padding: 0 !important;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
}

.profile-content-parent .result_box_dp {
  height: 100%;
  background: url(.profile-content-parent ..profile-content-parent ./images/sample.profile-content-parent .jpg);
  background-size: contain;
  background-repeat: no-repeat;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
}

.profile-content-parent .result_box_txt {
  height: 100%;
}


.profile-content-parent .padding0 {
  padding: 0 !important;
}

.profile-content-parent .margin0 {
  margin: 0 !important;
}

.profile-content-parent .profileStyle {
  background-color: #E0ECF8;
}

.profile-content-parent .profile-content-parent {
  float: left;
  width: 100%;
  padding: 0;
  margin: 0;
  margin-top: 64px;
}

.profile-content-parent .profile-content-left {
  float: left;
  height: auto;
  transition: width 250ms;
  overflow-y: auto;
  overflow-x: hidden;
}

.profile-content-parent .recommendation-main-container {
  height: 300px;
}

.profile-content-parent .profile-content-right {
  float: left;
  transition: width 250ms;
}

/*.profile-content-parent .right-content-slider-main-container {
  height:auto;
}*/

.profile-content-parent .profile-editor-main-container {
  float: left;
  height: 100%;
  width: inherit;
  position: fixed;
  background-color: #424242;
}

.profile-content-parent .common-width-transition {
  transition: width 350ms;
  float: left;
}

.profile-content-parent .profile-editor-title {
  margin: 2%;
  padding-top: 10px;
  padding-bottom: 10px;
  color: #9A9A9A;
  font-size: 16px;
  font-weight: normal;
  font-family: arial, sans-serif;
  text-align: center !important;
}

.profile-content-parent .profile-editor-common-items {
  color: #D8D8D8;
  font-size: 14px !important;
  font-weight: normal;
  font-family: arial, sans-serif;
  padding-top: 15px;
  padding-bottom: 15px;
  margin-bottom: 3px;
  background-color: #4D4D4D;
  transition: background-color 350ms;
  cursor: pointer;
  vertical-align: middle;
}

.profile-content-parent .profile-editor-common-items:hover {
  background-color: #585858;
}

.profile-content-parent .profile-account-items-common-box {
  float: left;
  width: 100%;
  margin-top: 5px;
}

.profile-content-parent .common-input-style {
  color: #1C1C1C;
  padding-left: 10px !important;
  width: 93.profile-content-parent .5% !important;
  margin-left: 2% !important;
  background-color: white !important;
  border-radius: 5px !important;
}

.profile-content-parent .common-textarea {
  height: 70px;
  padding: 5px;
}

.profile-content-parent .bio-textarea {
  height: 250px;
}

.profile-content-parent .interests-static-box {
  max-height: 300px;
  overflow-y: auto;
  text-align: center;
}

.profile-content-parent .common-static-interests {
  float: left;
  color: white;
  margin: 10px;
  padding: 5px;
  padding-left: 10px;
  padding-right: 10px;
  border: 1px solid #26a69a;
  cursor: pointer;
  opacity: 0.profile-content-parent .5;
  transition: opacity 150ms;
}

.profile-content-parent .common-static-interests:hover {
  opacity: 1;
}

.profile-content-parent .delete-interest-button {
  float: right;
  margin-left: 10px;
}

.profile-content-parent .divider {
  border: 1px solid #585858;
  margin-bottom: 10px;
}

.profile-content-parent .common-select-box1 {
  float: left;
  background-color: white !important;
  width: 47%;
  margin-left: 2%;
  display: block;
  border-radius: 15px !important;
}

.profile-content-parent .back-to-results {
  padding-top: 20px !important;
  padding-bottom: 20px !important;
  font-size: 14px;
  font-weight: bold;
  cursor: pointer;
}

.profile-content-parent .profile-banner-container {
  background-color: white;
  border: 1px solid #D8D8D8;
  height: 250px;
}

.profile-content-parent .common-profile-banner {
  height: 80%;
  margin-top: 2%;
}

.profile-content-parent .tabs-menu {
  border-bottom: 1px solid #D8D8D8;
  padding: 0 !important;
}

.profile-content-parent .tabs-item {
  float: left;
  font-size: 15px;
  color: #848484;
  padding: 20px;
  cursor: pointer;
}

.profile-content-parent .profile-content-container {
  margin-top: 20px;
}

.profile-content-parent .profile-left, .profile-content-parent .profile-middle, .profile-content-parent .profile-right {
  height: 100%;
  background-color: none;
}

.profile-content-parent .profile-left-menu {
  background-color: white;
  height: auto;
  border: 1px solid #D8D8D8;
}

.profile-content-parent .profile-middle {
  height: auto;
  background-color: white;
  border: 1px solid #D8D8D8;
}

.profile-content-parent .profile-right-menu {
  background-color: white;
  height: 200px;
  border: 1px solid #D8D8D8;
}

.profile-content-parent .profile-banner-left {
  border-right: 1px solid #D8D8D8;
}

.profile-content-parent .profile-banner-left-item1 {
  font-size: 26px;
  color: #424242;
  margin-top: 20px;
}

.profile-content-parent .profile-banner-left-item2 {
  font-size: 18px;
  color: #585858;
  margin-top: 10px;
}

.profile-content-parent .profile-banner-left-item3 {
  margin-top: 15px;
}

.profile-content-parent .profile-banner-right-item {
  margin-top: 22px;
  color: #585858;
}

.profile-content-parent .profile-banner-right-item-common1 {
  font-size: 15px;
  font-weight: bold;
}

.profile-content-parent .profile-banner-right-item-common2 {
  font-size: 15px;
  font-weight: normal;
}

.profile-content-parent .profile-left-menu-item {
  padding-top: 10px !important;
  padding-bottom: 10px !important;
  color: #585858;
  cursor: pointer;
}

.profile-content-parent .profile-middle-item {
  margin-top: 10px;
  float: left;
}

.profile-content-parent .profile-middle-title {
  float: left;
  color: #585858;
  font-size: 16px;
  font-weight: bold;
  padding-top: 10px !important;
  padding-bottom: 10px !important;
}

.profile-content-parent .profile-middle-txt {
  float: left;
  width: 100%;
  color: #585858;
  font-size: 14px;
  font-weight: normal;
  line-height: 200%;
  text-align: justify;
  padding-bottom: 20px !important;
  border-bottom: 1px solid #F2F2F2;
}

.profile-content-parent .skills-main-container {
  font-size: 12px;
  float: left;
  margin-left: 10px;
  margin-bottom: 15px;
  border: 1px solid #E6E6E6;
  transition: border 500ms;
  cursor: pointer;
}

.profile-content-parent .skills-main-container:hover {
  border: 1px solid #277FDE;
}

.profile-content-parent .skills-endorsers {
  color: #FAFAFA;
  float: left;
  padding-left: 5px;
  padding-right: 5px;
  background-color: #47a3da;
}

.profile-content-parent .skills-type {
  margin-left: 5px;
  margin-right: 5px;
}

.profile-content-parent .language-main-container {
  float: left;
  color: #585858;
  margin-left: 15px;
  padding-left: 10px;
  padding-right: 10px;
}

.profile-content-parent .language-img, .profile-content-parent .language-img img {
  float: left;
  width: 20px;
}

.profile-content-parent .language-txt {
  float: left;
  margin-left: 5px;
}

.profile-content-parent .award-main-container {
  float: left;
  width: 100%;
  padding-top: 10px !important;
  padding-bottom: 10px !important;
  margin-top: 5px;
  border-left: 5px solid #47a3da;
}

.profile-content-parent .award-name {
  font-size: 18px;
  color: #045FB4;
}

.profile-content-parent .award-org, .profile-content-parent .award-date {
  font-size: 15px;
  color: #848484;
}

.profile-content-parent .profile-reviews {
  background-color: white;
  margin-top: 20px;
  border: 1px solid #D8D8D8;
  height: auto;
}

.profile-content-parent .review-main-container {
  margin-top: 10px;
  margin-bottom: 10px;
}

.profile-content-parent .review-img, .profile-content-parent .review-img img {
  height: 50px;
}

.profile-content-parent .review-name {
  font-size: 18px;
  color: #6E6E6E;
}

.profile-content-parent .review-date {
  font-size: 12px;
  color: #BDBDBD;
}

.profile-content-parent .review-txt {
  font-size: 13px;
  padding-bottom: 20px !important;
  border-bottom: 1px solid #F4F4F4;
  color: #6E6E6E;
}
