

#awards-parent-container
{
	float: left;
	width:100%;
	margin-top: 64px;
}
#awards-navigation-bar {
	padding-top:10px;
}
#awards-go-home-btn {
	cursor: pointer;
}
.awards-content-container {
	margin-top:20px;
}
.award-card-container {
	margin-left:6% !important;
	cursor: pointer;
	min-width: 250px !important;
	opacity: 0.8;
	transition:opacity 250ms;
}
.award-card-container:hover {
	opacity: 1.0;
}
#awards-left-content {
	transition:width 300ms;
}
#awards-right-content {
	background-color:#2E2E2E;
	transition:width 300ms;
}
.awardFixedOverlay {
	float: left;
    width: inherit !important;
    position: fixed;
}
.overlayCardImgManager {
	max-height:40% !important;
}
.overlayCardContentManager {
	max-height:60% !important;
	overflow-y:scroll !important; 
}
.overlayCardManager {
	box-shadow: none !important;
	background-color: #2E2E2E !important;
	color:white;

}
.close_award_icon {
	position:absolute;
	right:0;
	margin:20px;
	background:url(../../../../assets/images/close.png);
	background-size:contain;
	width:30px;
	height:30px;
	cursor:pointer;
	z-index:2;
}
.pageTitle
{
	font-size:26px;
	font-weight: normal;
	margin-left:35%;
}
.floatLeft {
	float: left !important;
}

.floatRight {
	float: right !important;
}


/** search css starts **/
#main_search_overlay
{
	position:fixed;
	width:100%;
	height:100%;
	background-color:white;
	z-index:50;
	overflow-y:scroll;
	overflow-x:hidden;
}


.fade-in-out {
transition: 150ms linear all;  
opacity: 1;
}

.fade-in-out.ng-hide {
opacity: 0;
}

#search-parent-container
{
	background-color:none;
	max-height:100%;
}
.close_search_icon
{
	float: right;
	margin:20px;
	background:url(../../../../assets/images/close.png);
	background-size:contain;
	width:40px;
	height:40px;
	cursor:pointer;
}

.searchInput
{
	font-size:5rem !important;
	height:8rem !important;
}

.result_container
{
	margin-top:20px;
	background-color: none;
	max-height:40%;
	overflow: hidden;
}

.result_parent_box
{
	margin-bottom:20px;
	margin-left:80px !important;
	height:75px;
	border:1px solid #E6E6E6;
	padding:0 !important;
	border-top-left-radius:10px;
	border-bottom-left-radius:10px;
}
.result_box_dp
{
	height:100%;
	
	background-size: contain;
	background-repeat: no-repeat;
	border-top-left-radius:10px;
	border-bottom-left-radius:10px;
}

.result_box_txt
{
	height: 100%;
}

/** search css ends **/

/** header input starts **/

.inputty{
	position: relative;
	height: 20px !important;
    z-index: 1;
    display: inline-block;
    margin: 1em;
    max-width: 380px;
    width: calc(100% - 1.8em);
    vertical-align: top;

}
.input--kyo {
    z-index: auto;
}
.input__field--kyo {
    padding: 0.35em 0.35em !important;
    width: 100%;
    border-radius: 2em !important;
    background: #fff;
    color: #535d92;
}
.input__field {
    position: relative ;
    left: 100%;
    text-align: center !important;
    bottom: 5px;
    display: block;
    float: right;
    height: 2.3rem !important;

    padding: 0.6em ;
    width: 60%;
    border: none;
    border-radius: 0;
    background: white !important;
    color: #aaa;
    font-weight: bolder;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif !important;
    -webkit-appearance: none;
}
#input-19:focus{
	background-color: green;
}
.nav-wrapper{
	margin:auto;

}