<div class="stage1" ng-init="functions.preprocess()">

  <div class="row">
    <div class="input-field col s6">
      <input id="first_name" type="text" ng-model="form.name" class="validate">
      <label for="first_name">First Name</label>
    </div>
    <div class="input-field col s6">
      <input id="last_name" type="text" ng-model="form.lname" class="validate">
      <label for="last_name">Last Name</label>
    </div>
  </div>

  <div class="row">
    <!-- Dropdown Trigger -->
    <!-- <div class="input-field col s6">
      <input ng-model="form.section" id="user_name" type="text" class="validate">
      <label for="user_name">Section</label>
    </div> -->

    <!-- <div class="input-field col s3">
      <a class='dropdown-button btn' href='#' data-activates='classDropdown'>Class</a>
    </div> -->

    <div class="input-field col s3">
      <a class='dropdown-button btn' href='#' data-activates='ageDropdown'>{{form.age || "Age"}}</a>
    </div>

    <!-- Dropdown Structure -->
    <ul id='ageDropdown' class='dropdown-content'>
      <li ng-click="form.age = i+1" ng-repeat="i in _.times(70)"><a href="#!">{{i+1}}</a></li>
    </ul>

    <ul id='classDropdown' class='dropdown-content'>
      <li ng-click="form.class = i+1" ng-repeat="i in _.times(12)"><a href="#!">{{i+1}}</a></li>
    </ul>
  </div>


  <!-- <div class="row">
    <div class="input-field col s6">
      <input ng-model="password.pwd" id="last_name" type="password" class="validate">
      <label for="last_name">Password</label>
    </div>
    <div class="input-field col s6">
      <input ng-keyup="functions.checkPassword()" ng-model="password.confPwd" id="last_name" type="password" class="validate">
      <label for="last_name">Confirm Password</label>
    </div>
  </div> -->

  <div class="row">
    <div class="input-field col s12">
      <a class='btn' href='#' ng-click="functions.nextStage()">Next</a>
    </div
  </div>

</div>
