.schoolTeachers nav {
  background-color: #47a3da;
}
.schoolTeachers nav .nav-wrapper {
  margin-left: 10% !important;
  margin-right: 10% !important;
}

/*body{
    background-color: #ECEFF1;
    z-index: 1;
}*/

.schoolTeachers #outer {
  margin-left: 10% !important;
  margin-right: 10% !important;
}
.schoolTeachers .row-full {
  width: 100vw;
  position: relative;
  margin-left: -50vw;
  height: 150px;
  z-index: 10;
  left: 50%;
  background-color: #CFD8E3;
}
.schoolTeachers #heading {
  font-family: 'Helvetica', serif;
  font-size: 48px;
  position: relative;
  left: 20%;
  right: 50%;
  top: 15px;
  float: left;
  color: #607D8B;
}
