<div class="studentemailconf">
  <div class="row">
    <div id="righthalf" class="col s12 m12 l12 card" style="margin-top: 0;">
      <div class="card-content">

        <div class="row formContainer">
            <div class="col l4" style="margin-left: 0px;">
              <br>
              <form name="emailconfform" ng-submit="submit()">
                <div class="row">
                  <div class="input-field col m12 s12 l12">
                    <input id="first_name" type="password" required="required" class="validate" ng-model="password">
                    <label for="first_name">Password</label>
                  </div>
                </div>

                <div class="row">
                  <div class="input-field col m12 s12 l12">
                    <input id="first_name" type="password" required="required" class="validate" ng-model="confPassword">
                    <label for="first_name">Confirm Password</label>
                  </div>
                </div>
                <div class="row">
                  <button type="submit" class="white raised waves-effect waves-brown btn-large col m12 s12 l12"  >Submit</button>
                </div>
                <p style="margin: 20px;">Incase you did'nt get it.Try again. </p></div>
              </form>
            </div>
        </div>
      </div>
    </div>
  </div>
</div>
