/* :::::::::::::::::::::::::::::::   TALENT SEARCH   ::::::::::::::::::::::::::::::*/
.talentSearchMenuStyle {
	background-color: #263238;
	position: fixed;
	font-size:16px;
}
.companyLogo {
	height:150px;
}
.nav_buttons {
	height:30px;
	margin-top:10px;
	color:#757575;
}

.nav_button_common {
	cursor:pointer;
	transition:color 300ms;
}

.nav_button_common:hover {
	color:#9e9e9e;
}

.talentSearchInput
{
	color:#616161;
	font-size:3rem !important;
	height:4rem !important;
}
.refine_title {
	color:#757575;
	font-size: 12px;
	font-family: arial,sans-serif;
}
.refine-half-height {
	height: 9px;
	border-bottom:1px solid #757575;
}

.talent-result-title {
	color:#283593;
	font-size:20px;
	text-align: center; 
	border-bottom:1px solid #e0e0e0;
}
.ts_image_box {
	margin-top:20px;
}

.ts_image_circle {
	border-radius: 50% !important;
}

.ts_name_box {
	font-size:12px;
	color:#424242;
	font-family: arial,sans-serif;
}
.ts_class_box {
	font-size:11px;
	color:#616161;
	font-family: arial,sans-serif;
}
.seemore_box {
	background-color: white;
	cursor: pointer;
}
.talent_content_box {
	max-height:340px;
	overflow: scroll;
	background-color: #E2E4E6;
}

.talent_content_box_result {
	max-height:340px;
	overflow: scroll;
	color:#757575 !important;
}
.select_standard {
	color:#757575;
}

.talent_search_result_color { 
	color: #eceff1 !important;
}

