<search></search>
<navbar></navbar>

<div class="profile-content-parent " style="max-height:{{profileEditorHeight}}px">
  <div class="profile-content-left profileStyle" style="width:{{defaultLeftWidth}};">
    <div class="row">
      <div class="col s12">
        <div class="col s12 back-to-results">
          <i class="material-icons left">fast_rewind</i>
          <span width="margin-top:5px;">Back to Results</span>
        </div>
        <div class="col s12 profile-banner-container z-depth-0">
          <div class="col s8 common-profile-banner profile-banner-left padding0">
            <div class="col s3 valign-wrapper padding0" style="height:100%;">
              <img ng-src="{{form.image}}" style="height:80%;" class="circle responsive-img z-depth-1">
            </div>
            <div class="col s9 padding0">
              <div class="col s12 profile-banner-left-item1 padding0">
                <div class="col s8 padding0">{{form.name}}
                  {{form.lname}}</div>
                <div class="col s2">Student</div>
              </div>
              <div class="col s12 profile-banner-left-item2 padding0">{{context.school.name}}</div>
              <div class="col s12 profile-banner-left-item3 padding0">
                <a class="waves-effect waves-light blue btn-large">Contact</a>
                <a class="waves-effect waves-light btn-large">Resume</a>
              </div>
            </div>
          </div>
          <div class="col s4 common-profile-banner profile-banner-right">
            <div class="col s12 padding0 profile-banner-right-item">
              <div class="col s5 profile-banner-right-item-common1 padding0">Email:</div>
              <div class="col s7 profile-banner-right-item-common2 padding0">{{form.email}}</div>
            </div>

            <div class="col s12 padding0 profile-banner-right-item">
              <div class="col s5 profile-banner-right-item-common1 padding0">Age:</div>
              <div class="col s7 profile-banner-right-item-common2 padding0">{{form.age}}</div>
            </div>

            <div class="col s12 padding0 profile-banner-right-item">
              <div class="col s5 profile-banner-right-item-common1 padding0">Address:</div>
              <div class="col s7 profile-banner-right-item-common2 padding0">{{form.address}}</div>
            </div>

            <div class="col s12 padding0 profile-banner-right-item">
              <div class="col s5 profile-banner-right-item-common1 padding0">Experience:</div>
              <div class="col s7 profile-banner-right-item-common2 padding0">10</div>
            </div>
          </div>
        </div>
        <div class="col s12 tabs-menu">
          <div class="tabs-item">Profile</div>
          <div class="tabs-item">CV/Resume</div>
        </div>
        <div class="col s12 main-content-container padding0">
          <div class="col s12 profile-content-container padding0">

            <div class="col {{leftContentContainer}} left padding0">
              <div class="col s12 left padding0 recommendation-main-container"></div>
            </div>

            <div class="col {{middleContentContainer}} left padding0">
              <div class="col s12 profile-middle padding0">
                <div class="col s12 profile-middle-item">
                  <div class="col s12 profile-middle-title">About</div>
                  <div class="col s12 profile-middle-txt">{{form.bio}}</div>
                </div>
                <div class="col s12 profile-middle-item">
                  <div class="col s12 profile-middle-title">Skills</div>
                  <div class="col s12 profile-middle-txt">
                    <div ng-repeat="skill in skills">
                      <div ng-click="functions.endorse(skill.id)" class="skills-main-container padding0 valign-wrapper">
                        <span class="skills-endorsers">{{skill.recommends.length}}</span>
                        <span class="skills-type">{{skill.skillName}}</span>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="col s12 profile-middle-item">
                  <div class="col s12 profile-middle-title">Languages</div>
                  <div class="profile-middle-txt">
                    <div class="language-main-container valign-wrapper" ng-repeat="language in form.languages">
                      <div class="language-img"></div>
                      <div class="language-txt">{{language}}</div>
                    </div>
                  </div>
                </div>
                <div class="col s12 profile-middle-item" ng-if="awards.length != 0">
                  <div class="col s12 profile-middle-title">Awards</div>
                  <div class="profile-middle-txt padding0">
                    <div ng-repeat="award in awards" class="award-main-container padding0">
                      <div class="col s12 award-name">{{award.title}}</div>
                      <div class="col s12 award-org">{{award.body}}</div>
                    </div>
                  </div>
                </div>
                <div class="col s12 profile-middle-item" ng-if="projects.length != 0">
                  <div class="col s12 profile-middle-title">Projects</div>
                  <div class="profile-middle-txt padding0">
                    <div ng-repeat="project_ in projects" class="award-main-container padding0">
                      <div class="col s12 award-name">{{project_.title}}&nbsp&nbsp<a ng-if="project_.link" href="{{project_.link}}">
                          <i class="material-icons">link</i>
                        </a>
                      </div>
                      <div class="col s12 award-org">{{project_.body}}</div>
                    </div>
                  </div>
                </div>
              </div>

              <div class="col s12 profile-reviews padding0">
                <div class="col s12 profile-middle-item">
                  <div class="col s12 profile-middle-title">Reviews ({{reviews.length}})</div>
                  <div class="profile-middle-txt padding0">
                    <div class="col s12 review-main-container padding0" ng-repeat="review in reviews">
                      <div class="col s2 review-img">
                        <img ng-src="{{review.reviewer.image}}" class="responsive-img circle"/>
                      </div>
                      <div class="col s10 review-txt padding0">
                        <div class="col s12 padding0">
                          <a ng-click="openReviewerProfile($index)">{{review.reviewer.name}}
                            {{review.reviewer.lname}}</a>
                          <div class="col s9 review-name padding0">
                            {{review.title}}</div>
                        </div>
                        <div class="col s12 padding0">{{review.body}}</div>
                      </div>
                    </div>

                    <div ng-if="!functions.isOwner()">
                      <center ng-hide="context.reviewToggle">
                        <h5>
                          <a ng-click="context.reviewToggle = true" style="text-decoration:none;">+ Review</a>
                        </h5>
                      </center>

                      <center ng-show="context.reviewToggle" class="col s10 review-txt padding0">
                        <form >
                          <div class="profile-account-items-common-box"><input ng-model="update.review.title" type="text" class="profile-account-name-input common-input-style" placeholder="Title"/></div>

                          <div class="profile-account-items-common-box"><input ng-model="update.review.body" type="text" class="profile-account-name-input common-input-style" placeholder="Body"/></div>

                          <div class="profile-account-items-common-box" style="text-align:center;">
                            <a ng-click="functions.addReview()" class="waves-effect waves-light btn">Save</a>
                          </div>
                        </form>
                      </center>
                    </div>
                  </div>
                </div>
              </div>
            </div>

            <div class="col {{rightContentContainer}} left profile-left padding0">
              <div class="col s11 offset-s1 profile-left-menu padding0">
                <div class="col s10 offset-s1 padding0 profile-left-menu-item">
                  <b>WEBSITES</b>
                </div>
                <div class="col s10 offset-s1 padding0 profile-left-menu-item">
                  <i style="float:left;" class="material-icons">phonelink_ring</i>
                  <span style="margin-left:10px;">Website</span>
                </div>
                <div class="col s10 offset-s1 padding0 profile-left-menu-item">
                  <i style="float:left;" class="material-icons">description</i>
                  <span style="margin-left:10px;">Blog</span>
                </div>
                <div class="col s10 offset-s1 padding0 profile-left-menu-item">
                  <i style="float:left;" class="material-icons">shop_two</i>
                  <span style="margin-left:10px;">Porfolio</span>
                </div>
              </div>
            </div>

          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="profile-content-right" style="width:{{defaultRightWidth}};height:{{profileEditorHeight}}px">
    <div class="profile-editor-main-container">
      <div class="profile-editor-inner-main">
        <div class="profile-editor-title">
          <i style="margin-top:2px;" class="material-icons tiny">edit</i>
          Edit
        </div>
        <div class="row">
          <div class="col s12 right-content-slider-main-container padding0">

            <div class="col s12 padding0 profile-editor-main-items common-width-transition" style="width:{{profileEditorMainWidth}};display:{{profileEditorMainDisplay}};">
              <div ng-click="profileSequence(profileItem.title)" class="profile-editor-common-items" ng-repeat="profileItem in profileItems">
                <i style="float:left;margin-left:10px;margin-right:10px;" class="material-icons ">{{profileItem.icon}}</i>
                <span style="margin-top:5px;">{{profileItem.title}}</span>
              </div>
            </div>

            <div class="col s12 padding0 profile-editor-fields-box common-width-transition" style="width:{{profileEditorInnerWidth}};display:{{profileEditorInnerDisplay}};">
              <div class="profile-account-items-common-box divider"></div>
              <div class="col s12 profile-editor-title">
                <i ng-click="editorSequenceBack()" style="float:left;cursor:pointer;" class="material-icons">chevron_left</i>
                {{selectedProfileItem}}
              </div>
              <div class="profile-account-items-common-box divider"></div>

              <!-- ACCOUNT Block -->
              <div class="profile-account-items-main" style="display:{{displayArr[0]}};">
                <div class="profile-account-items-common-box"><input ng-model="form.name" type="text" class="profile-account-name-input common-input-style" placeholder="{{account_name || 'Name'}}"/></div>

                <!-- <div class="profile-account-items-common-box"><input ng-model="form.email" type="email" class="profile-account-name-input common-input-style" placeholder="{{account_email || 'Email'}}"/></div> -->

                <!-- <div class="profile-account-items-common-box"><input ng-model="form.username" type="email" class="profile-account-name-input common-input-style" placeholder="{{account_username || 'Username'}}"/></div> -->

                <div class="profile-account-items-common-box"><input ng-model="form.address" type="text" class="profile-account-name-input common-input-style" placeholder="{{account_contact || 'Address'}}"/></div>

                <div class="profile-account-items-common-box" style="text-align:center;">
                  <a class="waves-effect waves-light btn" ng-click="functions.updateProfile()">Save</a>
                </div>

              </div>

              <!-- DETAILS Block -->
              <div id="profile-details-items-main" style="display:{{displayArr[1]}};">
                <div class="profile-account-items-common-box">
                  <div class="input-field" style="margin-top:0px;float:left;width:100%;margin-bottom:15px;">
                    <select id="class-selector" class="common-select-box1">
                      <option value="0">{{form.class}}</option>
                      <option ng-repeat="i in _.times(12)" value="{{i+1}}">{{i+1}}st</option>

                    </select>
                    <select id="section-selector" class="common-select-box1">
                      <option value="0">{{form.section}}</option>
                      <option value="A">A</option>
                      <option value="B">B</option>
                      <option value="C">C</option>
                      <option value="D">D</option>
                      <option value="E">E</option>
                    </select>
                  </div>
                </div>

                <!-- <div class="profile-account-items-common-box"><textarea class="common-textarea profile-account-name-input common-input-style" placeholder="{{account_languages || 'Languages'}}"></textarea></div> -->

                <div class="profile-account-items-common-box">
                  <textarea ng-model="form.social" class="common-textarea profile-account-name-input common-input-style" placeholder="{{account_social || 'Social Links'}}"></textarea>
                </div>

                <div class="profile-account-items-common-box" style="text-align:center;">
                  <a class="waves-effect waves-light btn" ng-click="functions.updateProfile()">Save</a>
                </div>
              </div>

              <!-- Projects Block -->
              <div id="profile-bio-items-main" style="display:{{displayArr[3]}};">
                <div class="profile-account-items-common-box"><input ng-model="update.projects.title" type="text" class="profile-account-name-input common-input-style" placeholder="{{account_project_title || 'Project Title'}}"/></div>
                <div class="profile-account-items-common-box"><input ng-model="update.projects.link" type="text" class="profile-account-name-input common-input-style" placeholder="{{account_project_title || 'Project Link'}}"/></div>
                <div class="profile-account-items-common-box">
                  <textarea ng-model="update.projects.body" class=".bio-textarea common-textarea profile-account-name-input common-input-style" placeholder="{{account_project_desc || 'Project Description'}}"></textarea>
                </div>
                <div class="profile-account-items-common-box" style="text-align:center;">
                  <a class="waves-effect waves-light btn" ng-click="functions.createProject()">Save</a>
                </div>
              </div>

              <!-- Interests Block -->
              <div id="profile-bio-items-main" style="display:{{displayArr[2]}};">

                <div class="profile-account-items-common-box">
                  <angucomplete-alt
                    id="interests"
                    placeholder="Search interests"
                    pause="100"
                    selected-object="functions.createSkill"
                    local-search="functions.search"
                    local-data="interests"
                    search-fields="name"
                    title-field="name"
                    minlength="1"
                    clear-selected="true"
                    input-class="profile-account-name-input common-input-style"/>
                </div>

                <div class="profile-account-items-common-box divider"></div>
                <div class="profile-account-items-common-box interests-static-box">
                  <div class="common-static-interests" ng-repeat="skill in skills">{{skill.skillName}}
                    <div class="delete-interest-button">x</div>
                  </div>
                </div>
              </div>

              <!-- Awards Block -->
              <div id="profile-bio-items-main" style="display:{{displayArr[4]}};">
                <div class="profile-account-items-common-box"><input ng-model="update.awards.title" type="text" class="profile-account-name-input common-input-style" placeholder="{{account_award_title || 'Award Title'}}"/></div>
                <div class="profile-account-items-common-box">
                  <textarea ng-model="update.awards.body" class="awards-textarea common-textarea profile-account-name-input common-input-style" placeholder="{{account_bio || 'Description'}}"></textarea>
                </div>
                <div class="profile-account-items-common-box" style="text-align:center;">
                  <a class="waves-effect waves-light btn" ng-click="functions.createAward()">Save</a>
                </div>

              </div>

              <!-- BIO Block -->
              <div id="profile-bio-items-main" style="display:{{displayArr[5]}};">
                <div class="profile-account-items-common-box">
                  <textarea ng-model="form.bio" class="bio-textarea common-textarea profile-account-name-input common-input-style" placeholder="{{account_bio || 'Bio'}}">{{form.bio}}</textarea>
                </div>
                <div class="profile-account-items-common-box" style="text-align:center;">
                  <a class="waves-effect waves-light btn" ng-click="functions.updateProfile()">Save</a>
                </div>
              </div>

              <!-- Password Management Block -->
              <div id="profile-password-items-main" style="display:{{displayArr[7]}};">
                <div class="profile-account-items-common-box"><input type="text" class="profile-account-name-input common-input-style" placeholder="{{account_password || 'Email'}}" ng-model="update.password.email"/></div>

                <!-- <div class="profile-account-items-common-box"><input ng-model="update.password.newPassword" type="password" class="profile-account-name-input common-input-style" placeholder="{{account_contact || 'New Password'}}"/></div>

                <div class="profile-account-items-common-box"><input ng-model="update.password.confPassword" type="password" class="profile-account-name-input common-input-style" placeholder="{{account_contact || 'Retype New Password'}}"/></div> -->

                <div class="profile-account-items-common-box" style="text-align:center;">
                  <a class="waves-effect waves-light btn" ng-click="functions.updatepassword()">Save</a>
                </div>
              </div>

              <div ></div>
            </div>

          </div>
        </div>
      </div>
    </div>
  </div>
</div>
