 <div class="row">
      <div class="col s12 padding0">
        <div class="col s2 floatLeft talentSearchMenuStyle" style="height:{{talentSearchMenu}}">
          <div class="col s12 companyLogo"></div>

          <div class="col s12 nav_buttons">
            <div class="col s3">
              <i class="material-icons nav_button_common">home</i>
            </div>
            <div class="col s3">
              <i class="material-icons nav_button_common">grade</i>
            </div>
            <div class="col s3">
              <i class="material-icons nav_button_common">build</i>
            </div>
            <div class="col s3">
              <i class="material-icons nav_button_common">settings</i>
            </div>
          </div>

          <div class="col s12 padding0 refine_title">
            <div class="col s4 padding0">
              <div class="col s12 padding0 refine-half-height"></div>
            </div>
            <div class="col s4 padding0 center-align">Refine</div>
            <div class="col s4 padding0">
              <div class="col s12 padding0 refine-half-height"></div>
            </div>
          </div>
          {{sample}}
          <div class="col s12 padding0">
            <div class="input-field col s12 select_standard">
              <select multiple>
                <!-- <option ng-repeat="standard in school_class" value="{{standard.title}}">{{standard.title}}</option> -->
                <option disabled>Select</option>
                <option>1st</option>
                <option>2nd</option>
                <option>3rd</option>
                <option>4th</option>
                <option>5th</option>
                <option>6th</option>
                <option>7th</option>
                <option>8th</option>
                <option>9th</option>
                <option>10th</option>
                <option>11th</option>
                <option>12th</option>
              </select>
              <label>Standard</label>
            </div>

            <div class="input-field col s12 select_standard">
              <select multiple>
                <!-- <option ng-repeat="standard in school_class" value="{{standard.title}}">{{standard.title}}</option> -->
                <option disabled>Select</option>
                <option>Male</option>
                <option>Female</option>
                <option>No Preferrence</option>
              </select>
              <label>Gender</label>
            </div>

            <div class="input-field col s12 select_standard">
              <select>
                <!-- <option ng-repeat="standard in school_class" value="{{standard.title}}">{{standard.title}}</option> -->
                <option>Select</option>
                <option>#footballers</option>
                <option>#debaters</option>
                <option>#writers</option>
                <option>#cricketers</option>
                <option>#developers</option>
              </select>
              <label>Jump To</label>
            </div>

          </div>
        </div>
        <div class="col s10 offset-s2 floatLeft">
          <div class="col s12 padding0">
            <div class="input-field col s12">
              <input id="last_name" ng-focus="searchFocus" ng-change="searchTalent(searchTalentTerm)" ng-model="searchTalentTerm" class="talentSearchInput" placeholder="Search the talent.." autocomplete="off" type="text" class="validate">
            </div>
          </div>

          <div class="col s12 padding0" ng-show="showTalentSearchResult">
            <div class="col s12 padding0">
              <div class="col s8 offset-s2 padding0 talent-result-title">{{searchTalentResult[0].title}}</div>
            </div>
            <div class="col s12 padding0 talent_content_box_result teal lighten-2">

              <div class="col s3" ng-repeat="student in searchTalentResult[0].domainResult | limitTo:searchTalentResult[0].defaultLimit">
                <div class="col s12 ts_image_box" ui-sref="studentProfile({id: student.username})">
                  <img ng-src="{{student.image}}" class="col s6 offset-s3 padding0 ts_image_circle">
                </div>
                <div class="col s12">
                  <div class="col s12 ts_name_box talent_search_result_color center-align">{{student.name}}</div>
                </div>
              </div>

              <div class="col s3" ng-hide="searchTalentResult[0].expandResults">
                <div class="col s12 ts_image_box">
                  <img src="assets/images/seemore.png" ng-click="expand_more_search_results()" class="col s6 offset-s3 padding0 ts_image_circle seemore_box">
                </div>
                <div class="col s12">
                </div>
              </div>

            </div>
          </div>

          <div ng-repeat="result in results">
            <div class="col s12 padding0">
              <div class="col s12 padding0">
                <div class="col s8 offset-s2 padding0 talent-result-title">{{result.title}}</div>
              </div>
              <div class="col s12 padding0 talent_content_box">

                <div class="col s3" ng-repeat="domain in result.domainResult | limitTo:result.defaultLimit">
                  <div class="col s12 ts_image_box">
                    <img src="assets/images/sample.jpg" class="col s6 offset-s3 padding0 ts_image_circle">
                  </div>
                  <div class="col s12">
                    <div class="col s12 ts_name_box center-align">{{domain.name}}</div>
                    <div class="col s12 ts_class_box center-align">{{domain.class}}</div>
                  </div>
                </div>

                <div class="col s3" ng-hide="result.expandResults">
                  <div class="col s12 ts_image_box">
                    <img src="assets/images/seemore.png" ng-click="expand_more($index)" class="col s6 offset-s3 padding0 ts_image_circle seemore_box">
                  </div>
                  <div class="col s12">
                  </div>
                </div>

              </div>
            </div>
          </div>

        </div>
      </div>
    </div>
<script type="text/javascript">

  $(document).ready(function() {
    $('select').material_select();
});
</script>
