<div class="stage4" layout-padding>
  <div class="input-field col s10">
      <input ng-keyup="functions.verify()" id="first_name" type="text" ng-model="form.username" class="validate">
      <label for="first_name">Handle ID</label>
  </div>

  <div class="col s2 status">
    <i class="material-icons tooltipped" data-delay="50" data-tooltip="Username Available" ng-if="!context.exists">check</i>
    <i class="material-icons" ng-if="context.exists">close</i>
  </div>

  <div class="row">
    <div class="col s12">
      <center><div ng-if="!form.image" class="imageContainer">
        <span class="flow-text">Upload your profile picture</span>
        <br>
        <button type="file" ngf-select="functions.uploadFiles($file, $invalidFiles)"
          accept="image/*" ngf-max-size="5MB" type="button" class="btn" name="button">Upload</button>
      </div></center>

      <center><div ng-if="form.image" class="profilePicture">
        <img ng-src="{{form.image}}" class="card" alt="">
        <button type="button" class="btn" ng-click="form.image = undefined" name="button">Reupload</button>
      </div></center>
    </div>
  </div>

  <div class="row">
    <div class="input-field col s12">
      <a class='btn' href='#' ng-click="functions.submit()">Finish</a>
    </div>
  </div>
</div>
