<div class="stage3" ng-init="functions.preprocess()">
  <div class="row">

    <angucomplete-alt id="interests"
              placeholder="Search interests"
              pause="100"
              selected-object="functions.interests.add"
              local-data="interests"
              local-search="functions.search"
              search-fields="name"
              title-field="name"
              minlength="1"
              clear-selected="true"
              input-class="form-control form-control-small"/>

  </div>

  <div class="row">
    <div ng-if="!skills.length">
      <center><label>No Interest Selected...</label><center>
    </div>

    <div ng-repeat="i in skills" class="chip">
      {{i}}
      <i class="close material-icons" ng-click="functions.interests.remove(i, $index)">close</i>
    </div>
  </div>


  <div class="row">
    <div class="input-field col s12">
      <center><a class='dropdown-button btn' href='#' data-activates='languagesDropdown'>+ Languages</a></center>
    </div>

    <!-- Dropdown Structure -->
    <ul id='languagesDropdown' class='dropdown-content'>
      <li ng-repeat="i in languages"><a href="#!" ng-click="functions.languages.add(i, $index)">{{i}}</a></li>
    </ul>
  </div>

  <div class="row">
    <div ng-if="!form.languages.length">
      <center><label>No Language Selected...</label><center>
    </div>

    <div ng-repeat="i in form.languages" class="chip">
      {{i}}
      <i ng-click="functions.languages.remove(i, $index)" class="close material-icons">close</i>
    </div>
  </div>

  <div class="row">
    <div class="input-field col s12">
      <a class='btn' href='#' ng-click="functions.nextStage()">Next</a>
    </div
  </div>
</div>
