<div class="stage2">
  <div class="row">
    <div class="input-field col s12">
      <input ng-model="form.address" id="address" type="text" ng-model="form.name" class="validate">
      <label for="first_name">Address</label>
    </div>
  </div>

  <div class="row">
    <div class="input-field col s6">
      <input ng-model="form.pincode" id="first_name" type="text" ng-model="form.name" class="validate">
      <label for="first_name">PIN Code</label>
    </div>
  </div>

  <div class="row">
    <div class="input-field col s12">
      <textarea ng-model="form.bio" id="textarea1" class="materialize-textarea"></textarea>
      <label for="textarea1">Biography</label>
    </div>
  </div>

  <div class="row">
    <div class="input-field col s12">
      <a class='btn' href='#' ng-click="functions.nextStage()">Next</a>
    </div>
  </div>

</div>
